<config>
	<thread-count>100</thread-count>
	<job>
		<type>pull-commits-detailed</type>
		<start>386</start>
		<end>386</end>
	</job>
</config>


<!--
possible job types:
* pull-commits-detailed		(start & end are project id)
* pull-projects-for-orgs	(start & end are orgs id)
* pull-projects-info		(start & end are project id)
-->